.jsoneditor-react-container {
	width: 100%;
	height: 100%;
}

div.jsoneditor-outer {
	width: 100%;
	height: 60vh;
}

.jsoneditor-menu {
	background-color: #4791db;
	border-radius: 10px 10px 0 0;
}

div.jsoneditor-tree {
	background: #424242;
	color: beige;
	border-radius: 0 0 10px 10px;
}

.jsoneditor-statusbar {
	border-radius: 0 0 10px 10px;
}

.jsoneditor {
	border: none;
}

div.jsoneditor-field,
div.jsoneditor-value,
div.jsoneditor td,
div.jsoneditor th,
div.jsoneditor textarea,
pre.jsoneditor-preview,
.jsoneditor-schema-error,
.jsoneditor-popover {
	font-family: 'dejavu sans mono', 'droid sans mono', consolas, monaco,
		'lucida console', 'courier new', courier, monospace, sans-serif;
	font-size: 10pt;
	color: #ffffff;
}

div.jsoneditor-value.jsoneditor-string {
	color: #ffa048;
}
div.jsoneditor-value.jsoneditor-null {
	color: #045efa;
}

textarea.jsoneditor-text {
	background: #424242;
}

.jsoneditor {
	border: thin solid #fcfcfc;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	border-radius: 10px;
}
