name: Release sugoi-ui

on: 
  workflow_dispatch:
    inputs:
      version:
        description: 'The version of the release'
        required: true   

jobs:

  pre-release:
    name: pre-release
    runs-on: ubuntu-latest
    steps:  

      - name: Use Node.js 14
        uses: actions/setup-node@v1
        with:
          node-version: 14
          
      - name: Prepare
        run: |
          git config --global user.name "Insee - Domaine Outils Transverses"
          git config --global user.email "dg75-dsi-domaine-outils-transverses@insee.fr"  
          git clone https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{github.repository}}.git
          cd sugoi-ui/
          git checkout -b release-${{ github.event.inputs.version }}
          yarn version --new-version ${{ github.event.inputs.version }} --message "[REL] :rocket: prepare new version ${{ github.event.inputs.version }}"
          git push origin release-${{ github.event.inputs.version }} -f
          echo ${{ secrets.GITHUB_TOKEN }} | gh auth login --with-token
          gh pr create --title "[REL] :rocket: prepare new version ${{ github.event.inputs.version }}" --body "[REL] :rocket: prepare new version ${{ github.event.inputs.version }}"


  release:
    name: release
    runs-on: ubuntu-latest
    needs: pre-release
    steps:  
      - name: Clone Deployments repo
        uses: actions/checkout@v2
        with:
          repository: ${{github.repository}}
          ref: release-${{ github.event.inputs.version }}

      - name: Use Node.js 14
        uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: Install dependencies with Yarn
        run: yarn

      - run: yarn build
        name: Build with Yarn
        
      - uses: papeloto/action-zip@v1
        name: Zip build
        with:
          files: build/
          dest: sugoi-ui-${{ github.event.inputs.version }}-distribution.zip

      - name: Create a release
        id: create_release
        run: |
          echo ::set-output name=upload_url::$(curl --request POST \
          --header "Accept: application/vnd.github.v3+json" \
          --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
          --url https://api.github.com/repos/${{ github.repository }}/releases \
          -d '{"tag_name":"${{ github.event.inputs.version }}"}' | jq '.upload_url' | cut -d { -f 1)

      - name: Upload Zip Release 
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | gh auth login --with-token
          gh release upload --repo ${{ github.repository }} "${{ github.event.inputs.version }}" \
          ./sugoi-ui-${{ github.event.inputs.version }}-distribution.zip

  after-release:
    name: after-release
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Use Node.js 14
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - run: |
          git config --global user.name "Insee - Domaine Outils Transverses"
          git config --global user.email "dg75-dsi-domaine-outils-transverses@insee.fr"  
          git clone https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{github.repository}}.git
          cd sugoi-ui/
          git pull
          git checkout release-${{ github.event.inputs.version }}
          yarn version --minor --message "[ENH] :sparkles: prepare next version"
          git push origin release-${{ github.event.inputs.version }}
        
          